<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <title th:text="${title} ?: 'Products List'">Products List</title>
    <link th:fragment="link-css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:fragment="custom-css" rel="stylesheet" th:href="@{/css/style.css}">
    <link th:href="@{/css/all.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
<section layout:fragment="content" class="container mt-5">
    <div class="container">
        <form id="searchForm" class="d-flex mb-4">
            <input type="text" id="searchInput" class="form-control me-2" style="width: 40%;" placeholder="Search...">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <ul id="suggestionsList" class="list-group"></ul>
        <div>
            <a th:href="@{/products/sortAscending}" class="btn btn-link">
                <i class="fas fa-sort-alpha-up"></i>
            </a>
            <a th:href="@{/products/sortDescending}" class="btn btn-link">
                <i class="fas fa-sort-alpha-down"></i>
            </a>
        </div>
        <div class="row">
            <div th:each="product : ${products}" class="col-md-4 mb-4">
                <div class="card">
                    <div class="content">
                        <div class="imgBx">
                            <img th:src="${product.image}" alt="Product Image" class="card-img-top">
                        </div>
                        <div class="contentBx">
                            <h3 th:text="${product.name}"><br>
                                <span th:text="${product.description}">Gía rẻ chiến mọi loại game yêu thích</span>
                            </h3>
                            <p class="card-text"><strong>Price:</strong> $<span th:text="${product.price}">0.00</span></p>
                        </div>
                    </div>
                    <ul class="sci">
                        <li>
                            <a>
                                <form th:action="@{/cart/add}" method="post">
                                    <div class="input-group mb-3">
                                        <input type="number" name="quantity" min="1" value="1" class="form-control">
                                        <input type="hidden" th:value="${product.id}" name="productId"/>
                                        <button type="submit" class="button-85" role="button">Add to Cart</button>
                                    </div>
                                </form>
                            </a>
                        </li>
                        <li>
                            <div sec:authorize="hasAuthority('ADMIN')">
                                <a th:href="@{/products/edit/{id}(id=${product.id})}" class="btn btn-success btn-sm d-inline-block">Sửa</a>
                                <a th:href="@{/products/delete/{id}(id=${product.id})}" class="btn btn-danger btn-sm d-inline-block" onclick="return confirm('Bạn có chắc không?')">Xóa</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <a class="page-link" th:href="@{/products(page=0)}">First</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <a class="page-link" th:href="@{/products(page=${currentPage - 1})}">Previous</a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                th:classappend="${i == currentPage} ? 'active'">
                <a class="page-link" th:href="@{/products(page=${i})}" th:text="${i + 1}"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                <a class="page-link" th:href="@{/products(page=${currentPage + 1})}">Next</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                <a class="page-link" th:href="@{/products(page=${totalPages - 1})}">Last</a>
            </li>
        </ul>
    </nav>
    <a th:href="@{/products/add}" class="btn btn-primary" sec:authorize="hasAnyAuthority('ADMIN')">Add New Product</a>
    <a th:href="@{/}" class="btn btn-link">Back to Home</a>
</section>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery- 3.7.0.min.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>