<!-- src/main/resources/templates/cart/confirmVnPay.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Confirmation</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<section class="container mt-5">
    <h1>Order Confirmation</h1>
    <p>Status: <span th:text="${status}">Transaction Status</span></p>
    <p>Transaction ID: <span th:text="${transactionId}">Transaction ID</span></p>
    <p>Amount: <span th:text="${amount}">Amount</span></p>
    <p th:text="${message}">Your order has been successfully placed. Thank you for your purchase!</p>
    <h2>Customer Information</h2>
    <p>Name: <span th:text="${customerName}">Customer Name</span></p>
    <p>Address: <span th:text="${customerAddress}">Customer Address</span></p>
    <p>Phone: <span th:text="${phoneNumber}">Phone Number</span></p>
    <p>Email: <span th:text="${email}">Email</span></p>
    <h2>Order Details</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Total Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${orderDetails}">
            <td th:text="${item.productName}">Product Name</td>
            <td th:text="${item.quantity}">Quantity</td>
            <td th:text="${item.unitPrice}">Unit Price</td>
            <td th:text="${item.quantity * item.unitPrice}">Total Price</td>
        </tr>
        </tbody>
    </table>
</section>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-3.7.0.min.js}"></script>
</body>
</html>
