<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Confirmation</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<section class="container mt-5">
    <h1>Order Confirmation</h1>
    <p>Status: <span th:text="${status}">Transaction Status</span></p>
    <p>Transaction ID: <span th:text="${transactionId}">Transaction ID</span></p>
    <p>Amount: <span th:text="${amount}">Amount</span></p>
    <p th:text="${message}">Your order has been successfully placed. Thank you for your purchase!</p>
</section>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-3.7.0.min.js}"></script>
</body>
</html>
